#game-frame{
    border: thick solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.board-unit{
    background-color: brown;
}

.snake{
    background-color: green;
}

.food{
    background-color: blue;
}

.snakeDead{
    background-color: yellow;
}

#restart-game{
    display: none;
}